runge/Runge/Runge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:runge="http://www.cvmlib.com/runge" targetNamespace="http://www.cvmlib.com/runge" elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:element name="runge">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dimension" type="xs:int"/>
				<xs:element name="independentVariable" type="xs:string"/>
				<xs:element name="systemType" type="runge:systemTypeType"/>
				<xs:element name="tableFtx" type="runge:tableType"/>
				<xs:element name="tableFx" type="runge:tableType"/>
				<xs:element name="tableFi" type="runge:tableType"/>
				<xs:element name="tableUtx" type="runge:tableType"/>
				<xs:element name="tableStartValues" type="runge:tableType"/>
				<xs:element name="tableMacros" type="runge:tableType"/>
				<xs:element name="tableA" type="runge:matrixType"/>
				<xs:element name="tableB" type="runge:matrixType"/>
				<xs:element name="solver" type="xs:string"/>
				<xs:element name="startPoint" type="xs:double"/>
				<xs:element name="endPoint" type="xs:double"/>
				<xs:element name="step" type="xs:double"/>
				<xs:element name="stepMin" type="xs:double"/>
				<xs:element name="stepMax" type="xs:double"/>
				<xs:element name="eps" type="xs:double"/>
				<xs:element name="p" type="xs:double"/>
				<xs:element name="solutions" type="runge:solutionsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="systemTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FTX"/>
			<xs:enumeration value="FX"/>
			<xs:enumeration value="AF"/>
			<xs:enumeration value="BF"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="variableType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="variablesType">
		<xs:sequence>
			<xs:element name="variable" type="runge:variableType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="equationType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="equationsType">
		<xs:sequence>
			<xs:element name="equation" type="runge:equationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="macroType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>	
	<xs:complexType name="macrosType">
		<xs:sequence>
			<xs:element name="macro" type="runge:macroType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="tableType">
		<xs:sequence>
			<xs:element name="variables" type="runge:variablesType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="equations" type="runge:equationsType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="matrixType">
		<xs:sequence>
			<xs:element name="element" type="xs:double" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="solutionType">
		<xs:sequence>
			<xs:element name="variables" type="runge:variablesType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="equations" type="runge:equationsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="macros" type="runge:macrosType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="points" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="time" type="xs:double" use="required"/>
		<xs:attribute name="steps" type="xs:int" use="required"/>
		<xs:attribute name="startPoint" type="xs:double" use="required"/>
		<xs:attribute name="p" type="xs:double" use="required"/>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="eps" type="xs:double" use="required"/>
		<xs:attribute name="endPoint" type="xs:double" use="required"/>
		<xs:attribute name="dimension" type="xs:int" use="required"/>
    <xs:attribute name="color" type="xs:string" use="required"/>
    <xs:attribute name="color2" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="solutionsType">
		<xs:sequence>
			<xs:element name="solution" type="runge:solutionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
